<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arne5.droiddice"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.arne5.droiddice.DieDroidMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arne5.droiddice.RollActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arne5.droiddice.PoolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arne5.droiddice.StatsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.arne5.droiddice.PIOActivity"
            android:screenOrientation="portrait" >
        </activity>


        <meta-data
            android:name="org.openintents.metadata.EMAIL"
            android:value="@string/aboutEmail" >
        </meta-data>
        <meta-data
            android:name="org.openintents.metadata.WEBSITE_URL"
            android:value="@string/urlWebsite" >
        </meta-data>
        <meta-data
            android:name="org.openintents.metadata.WEBSITE_LABEL"
            android:value="@string/aboutSiteLabel" >
        </meta-data>
        <meta-data
            android:name="org.openintents.metadata.COPYRIGHT"
            android:value="@string/aboutCopyright" >
        </meta-data>
        <meta-data
            android:name="org.openintents.metadata.TRANSLATORS"
            android:resource="@array/aboutTranslators" >
        </meta-data>
        <meta-data
            android:name="org.openintents.metadata.AUTHORS"
            android:resource="@array/aboutAuthors" >
        </meta-data>
        <meta-data
            android:name="org.openintents.metadata.LICENSE"
            android:resource="@raw/diedroid_license" >
        </meta-data>

        <activity
            android:name="com.arne5.droiddice.PathActivity"
            android:label="@string/title_activity_path" >
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

</manifest>